h1.name {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    position: fixed;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px #FFFFFF;
}

.mainContainer {
//
        
}
.navbar, ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top:49%;
    left:25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #333;
    border-radius: 25px;
}
.navbar, li {
    display: inline-block;
    font-size: 1em;
}
.navbar, li, a{
    color: white;
    padding: 14px 16px;
    
}
a:link {
    color:lightblue;
    text-decoration: none;
}
a:visited {
    color:lightblue;
    text-decoration: none;
}
a:hover {
    color:white;
    text-decoration: underline;
}
a:active {
    color:lightblue;
    text-decoration: none;
}
@media only screen and (max-width: 480px) {
    navbar, li {
        display: block;
    }
    navbar, ul{
        top: 65%;  
    }
}
@media only screen and (min-width: 300px) {
    body {
        background-image: url("../images/background2.png");
        
        background-repeat: no-repeat;
    }
}
@media only screen and (min-width: 800px) {
    body {
        background-image: url("../images/background.png");
        
        background-repeat: no-repeat;
    }
    h1.name {
        color: white;
    }
}

    
    
